Django==1.6.5
MySQL-python==1.2.5
South==0.8.4
argparse==1.2.1
django-cors-headers==0.13
mysql-latin1-codec==2.0
simplejson==3.6.3
six==1.7.3
wsgiref==0.1.2
unipath==1.0
Pillow==2.4.0
django-debug-toolbar==1.2.1
boto==2.38.0
django-storages==1.1.8
django-material==0.2.0
django-grappelli==2.5.7