option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: alpacuna/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: alpacuna.settings.production
  - option_name: AWS_SECRET_KEY
    value: 
  - option_name: AWS_ACCESS_KEY_ID
    value: 